# Ignorar arquivo de usuários com dados sensíveis
usuarios.json

# Ignorar arquivos criptografados gerados
*.enc

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários e caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de sistema (Windows)
Thumbs.db
.DS_Store
